p {
    font-family: Arial;
    color: #ff0000;
    background-color: aquamarine;
}
.HeaderOne{
    font-family: Arial;
    font-weight: normal;
    color: orange;
    font-style: italic;
    background-color: black;
}
.HeaderTwo{
    font-family: Arial;
    font-weight: normal;
    color: orange;
    font-style: italic;
    background-color: chartreuse;
}
.HeaderThree{
    font-family: Arial;
    font-weight: normal;
    color: orange;
    font-style: italic;
    background-color: lightcyan;
}

a:link{
    font-family: Arial;
    color:red;
}
a:visited{
    font-family: Arial;
    color: green;
}

a:hover{
    font-family: Arial;
    color:yellow;
}

.body {
    font-family: Arial;
    background-image: url(mgs3.jpg);
}
.textCenter{
    text-align: center;
}
.textJustify{
    text-align: justify;
}

.imgbox{
    border: 5px solid black;
    padding: 2px solid yellow;
}