.body{
    

    background-image: url(a5bg.png);
}
.HeaderOne{
    background-color: white;
    padding: 12px;
    text-decoration: none;
    font-weight: normal;
    font-size: 35px;
    font: helvetica;
    
    
    
}
nav li {
    display: inline-block;
    background-color: darkblue;
    padding: 12px;
    margin-right: 60px;
    width: 120px;
    margin-left: -40px;
    
}
nav li a{
    color: white;
    text-decoration: none;
    display: block;
}
main{
    background-color: white;
    padding: 15px;
}
.HeaderTwo{
    border-bottom: 3px solid black;
    padding-bottom: 7px;
    font: helvetica;
    font-weight: bold;
}
.wikilink:link{
    color: blue;
    text-decoration: solid;
}
.wikilink:visited{
    color: blue;
    text-decoration: solid;
}
.wikilink:hover{
    color: red;
    text-decoration: underline;
}
.footer{
    text-align:center;
    font-weight: bold;
    font-style: italic;
    font-family: Verdana;
    background-color: darkblue;
    border: 5px solid white;
    color:white;
    padding: 40px;

}